.about {
  .aboutContent {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
  }

  .aboutContent-PersonalWrapper,
  .aboutContent-ServiceWrapper {
    width: 50%;
  }

  .aboutContent-PersonalWrapper {
    h3 {
      margin-bottom: 10px;
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--yellow-theme-main-color);
    }
  }

  h3.personalInformationHeaderText {
    padding-top: 20px;
  }
  p {
    color: var(--yellow-theme-sub-text-color);
    font-size: 1.8rem;
    line-height: 1.65;
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--yellow-theme-main-color);
  }

  ul,
  li {
    line-height: 1rem;
    margin-bottom: 15px;

    span.title,
    span.label {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
      display: inline-block;
      position: relative;
      margin-right: 16px;
      padding-bottom: 5px;
      color: var(--yellow-theme-sub-text-color);
      list-style: none;
    }
    span.label {
      border: none;
    }
  }
}
.aboutContent-ServiceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .aboutContent {
    flex-direction: column;

    .aboutContent-PersonalWrapper,
    .aboutContent-ServiceWrapper {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .aboutContent-ServiceWrapper {
      margin: 10px 0;

      .aboutContent-ServiceWrapper-InnerContent {
        width: 100%;
        
      }
      img {
        width: 100%;
        max-width: 250px;
        max-height: 250px;
      
        
      }
    }
  }
}
